# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# terraform dependency lock file
.terraform.lock.hcl

# Ignore Mac OS directory attributes
.DS_Store

# Ignore editor backups
*~